{% load static i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="author" content="devcybercode">
    <meta property="og:site_name" content="Разработка сайтов — devcybercode">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    
    <meta name="description" content="{% block meta_description %}Разработка и создание сайтов в Ташкенте и по всему Узбекистану | Закажите сейчас у компании devcybercode{% endblock %}">
    <meta name="og:description" content="{% block og_description %}Разработка сайтов в Ташкенте. Индивидуальные решения для вашего бизнеса от devcybercode{% endblock %}">
    
    <meta name="keywords" content="{% block keywords %}разработка сайтов, создание сайтов в ташкенте, сайт под ключ{% endblock %}">
    
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/scripts/js/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">
    <link rel="icon" href="{% static 'main/images/layout/websiteicon.png' %}" type="image/png"/>
    <link rel="shortcut icon" href="{% static 'main/images/layout/websiteicon.svg' %}" type="image/svg+xml"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

    <script src="{% static 'main/scripts/js/notranslate.js' %}"></script>
    <title>{% translate 'Sign in - Cyber Code' %}</title>
</head> 

<body class="sign-body">
    <main class="main login-main">
        <!-- START LOGIN CONTENT -->
        <section class="sign-section">
            <div class="sign-container">
                <div class="sign-image-container">
                    <div class="sign-image-logo-container">
                        <h1 class="sign-image-logo-text">
                            Cyber Code
                        </h1>
                    </div>
                    <h1 class="sign-image-title">
                        
                        {% translate "Your place to work Plan and Create"%}
                    </h1>
                    <div class="sign-image-wrapper">
                        <img src="{% static 'main/images/login/login.svg' %}" alt="">
                    </div>
                </div>
                <div class="sign-info-container">
                    <a href="{% url 'main:index' %}" class="sign-return-back-link"><i class="fa-solid fa-arrow-left-long"></i></a>
                    <h1 class="sign-info-title">{% translate "Sign In to Website" %}</h1>
                    <form id="login-form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.GET.next|default:'main:profile' }}">
                        <div class="sign-info-input-container">
                            <div class="sign-info-input-column">
                                <label class="sign-info-label">
                                    {% translate "Username" %}</label>
                                <input class="sign-info-input" type="text" placeholder="myusername" name="username"
                                    autocomplete="off" value="{{ form.username.value|default_if_none:'' }}">
                                <div class="error-message" id="username-error"></div>
                            </div>
                            <div class="sign-info-input-column">
                                <label class="sign-info-label">
                                    {% translate "Password" %}</label>
                                <input class="sign-info-input" type="password" placeholder="••••••••" name="password"
                                    autocomplete="off" value="{{ form.password.value|default_if_none:'' }}">
                                <div class="error-message" id="password-error"></div>
                            </div>
                        </div>
                        <div class="error-message">{{ error_message }}</div>
                        <div class="sign-info-extra-container">
                            <div class="sign-info-extra-wrapper">
                                <div class="sign-info-extra-remember-container">
                                    <input type="checkbox" name="" id="">
                                    <h1 class="sign-info-extra-remember-text">
                                        {% translate "Remember me" %}</h1>
                                </div>
                                <div class="sign-info-extra-password-container">
                                    <a href="{% url 'main:password_reset' %}" class="sign-info-extra-password-text">
                                        {% translate "Forgot Password ?" %}</a>
                                </div>
                            </div>
                            <div class="sign-info-btn-container">
                                <button class="sign-info-btn" type="submit">
                                    {% translate "Sign in" %} <i class="fa-solid fa-arrow-right"></i></button>
                                <a href="{% url 'main:registration' %}" class="sign-info-check-account">
                                    {% translate "Don’t have an account?"%}</a>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </section>
        <!-- END LOGIN CONTENT -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
        charset="utf-8"></script>
        <script src="{% static 'main/scripts/js/notranslate.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#login-form").submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: window.location.href,  // Use the correct URL pattern
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                var nextUrl = getParameterByName('next');
                                if (nextUrl) { window.location.href = nextUrl; } 
                                else { window.location.href = "{% url 'main:profile' %}"; }
                            } else {
                                $(".error-message").removeClass('active').empty();
                                for (var field in data.errors) {
                                    if (data.errors.hasOwnProperty(field)) {
                                        $("#" + field + "-error").addClass('active');
                                        $("#" + field + "-error").text(data.errors[field][0]);
                                    }
                                }
                            }
                        },
                    });
                });
                function getParameterByName(name, url) {
                    if (!url) url = window.location.href;
                    name = name.replace(/[\[\]]/g, "\\$&");
                    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                        results = regex.exec(url);
                    if (!results) return null;
                    if (!results[2]) return '';
                    return decodeURIComponent(results[2].replace(/\+/g, " "));
                }
            });
        </script>
    </main>
</body>

</html>