{% extends 'layout/base.html' %}
{% load static i18n %}

{% block title %}
<title>{% translate 'Admin reply form - Cyber Code' %}</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="projects-section">
        <div class="projects-container">
            <article class="projects-article">
                <h1 class="projects-article-title fade fadeInDown">{% translate 'Reply to Contact Message' %}</h1>
            </article>
        </div>
    </section>
    <section class="admin-reply-section">
        <div class="admin-reply-container">
            <form action="" class="admin-reply-form" method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form }}
                <button class="admin-reply-btn" type="submit">{% translate 'Send Reply' %}</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}