{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<main class="main">
    <div class="container" style="margin-top: 10rem;">
        <h1>Reply to Contact Message</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send Reply</button>
        </form>
    </div>
</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}