@import './girloy';

$girloy: 'Gilroy', Arial, sans-serif;

:root {
    --grotext-sans: #{$girloy} !important;
    --sans: #{$girloy} !important;
    --nunito: #{$girloy} !important;
    --poppins: #{$girloy} !important;
    --girloy: #{$girloy} !important;
}

