{% load static i18n compress %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="author" content="devcybercode">

    <meta property="og:title" content="{% block og_title %}Разработка и создание сайтов в Ташкенте{% endblock %}">
    <meta property="og:site_name" content="Разработка сайтов — devcybercode">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">

    <meta name="description"
        content="{% block meta_description %}Профессиональная разработка сайтов в Ташкенте. Услуги по созданию и продвижению сайтов от devcybercode. ☎️ (33) 170-17-06{% endblock %}">
    <meta property="og:description"
        content="{% block og_description %}Профессиональная разработка сайтов в Ташкенте. Услуги по созданию и продвижению сайтов от devcybercode. ☎️ (33) 170-17-06{% endblock %}">
    <meta name="keywords" content="{% block keywords %}разработка сайтов, создание сайтов, веб-дизайн, SEO-продвижение, Tашкент, devcybercode{% endblock %}">
    <meta property="og:image"
        content="{% block og_image %}{% static 'main/images/layout/websiteicon.png' %}{% endblock %}">
    {% block og_image_width_height %}{% endblock %}
    <meta property="og:image:width" content="{% block og_image_width %}200{% endblock %}">
    <meta property="og:image:height" content="{% block og_image_height %}200{% endblock %}">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}Разработка сайтов и услуги в Ташкенте devcybercode{% endblock %}">
    <meta name="twitter:description"
        content="{% block twitter_description %}Профессиональная разработка сайтов в Ташкенте. Услуги по созданию и продвижению сайтов от devcybercode. ☎️ (33) 170-17-06{% endblock %}">
    <meta name="twitter:image"
        content="{% block twitter_image %}{% static 'main/images/layout/websiteicon.png' %}{% endblock %}">

    {% compress css %}
    <link href="{% static 'main/scripts/js/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">
    {% endcompress %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    <link rel="icon" href="{% static 'main/images/layout/websiteicon.png' %}" type="image/png" />
    <link rel="shortcut icon" href="{% static 'main/images/layout/websiteicon.svg' %}" type="image/svg+xml" />

    <title>{% block title %}{% endblock %}</title>

    <!-- Schema.org JSON-LD Data -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Devcybercode",
            "url": "https://devcybercode.com",
            "logo": "https://devcybercode.com/static/main/images/layout/websiteicon.png",
            "description": "Разработка сайтов в Ташкенте. Индивидуальные решения для вашего бизнеса от devcybercode.",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+998331701706",
                "contactType": "customer service",
                "availableLanguage": ["English", "Russian"]
            },
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Tashkent, Shodlik 54",
                "addressLocality": "Tashkent",
                "addressCountry": "Uzbekistan"
            },
            "sameAs": [
                "https://www.instagram.com/devcybercode",
                "https://t.me/lUkACENkO1"
            ]
        }
    </script>
</head>

<body>

    {% include 'layout/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'layout/top.html' %}

    {% include 'layout/footer.html' %}

    {# ------------------------------------------------------------------------------------------- #}
    {# Scripts #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

    {% compress js %}
        <script src="{% static 'main/scripts/js/progressbar.js' %}"></script>
        <script src="{% static 'main/scripts/js/header.js' %}"></script>
        <script src="{% static 'main/scripts/js/contact_form_included.js' %}"></script>
        <script src="{% static 'main/scripts/js/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'main/scripts/js/notranslate.js' %}"></script>
        {% block js_block %}
        {% endblock %}
    {% endcompress %}

    {% block not_compress_js_block %}
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            wow = new WOW({
                boxClass: 'fade',
                animateClass: 'animated',
                offset: 0,
                mobile: true,
                live: true
            });
            wow.init();
        });

        function closeMessage(button) {
            button.parentNode.style.display = 'none';
        }
    </script>

    <script>
        function gtagSendEvent(url) {
            var callback = function () {
                if (typeof url === 'string') {
                    window.location = url;
                }
            };
            gtag('event', 'ads_conversion___2', {
                'event_callback': callback,
                'event_timeout': 2000,
            });
            return false;
        }
    </script>

    <!-- Google Tag Manager and external scripts -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZK6FPK7YB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-YZK6FPK7YB');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R2SJKN90KK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-R2SJKN90KK');
    </script>

    <!-- External scripts not included in the compression block -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</body>

</html>