{% load static i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="author" content="devcybercode">
    <meta property="og:site_name" content="Разработка сайтов — devcybercode">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    
    <meta name="description" content="{% block meta_description %}Разработка и создание сайтов в Ташкенте и по всему Узбекистану | Закажите сейчас у компании devcybercode{% endblock %}">
    <meta name="og:description" content="{% block og_description %}Разработка сайтов в Ташкенте. Индивидуальные решения для вашего бизнеса от devcybercode{% endblock %}">
    
    <meta name="keywords" content="{% block keywords %}разработка сайтов, создание сайтов в ташкенте, сайт под ключ{% endblock %}">
    
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/scripts/js/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">
    <link rel="icon" href="{% static 'main/images/layout/websiteicon.png' %}" type="image/png"/>
    <link rel="shortcut icon" href="{% static 'main/images/layout/websiteicon.svg' %}" type="image/svg+xml"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

    <script src="{% static 'main/scripts/js/notranslate.js' %}"></script>
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% include 'layout/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'layout/top.html' %}

    {% include 'layout/footer.html' %}

    {# ------------------------------------------------------------------------------------------- #}
    {# Scripts #}
    <script src="{% static 'main/scripts/js/progressbar.js' %}"></script>
    <script src="{% static 'main/scripts/js/header.js' %}"></script>
    <script src="{% static 'main/scripts/js/contact_form_included.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="{% static 'main/scripts/js/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            wow = new WOW({
                boxClass: 'fade',
                animateClass: 'animated',
                offset: 0,
                mobile: true,
                live: true
            });
            wow.init();
        });
        function closeMessage(button) {
            button.parentNode.style.display = 'none';
        }
    </script>
    {% block js_block %}

    {% endblock %}

     <!-- Скрипт с данными контактной информации -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://devcybercode.com/contact/us/",
          "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+998331701706",
            "contactType": "customer service",
            "availableLanguage": ["English", "Russian"]
          }]
        }
        
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YZK6FPK7YB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-YZK6FPK7YB');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R2SJKN90KK">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-R2SJKN90KK');
    </script>
    <!-- Google tag (gtag.js) event - delayed navigation helper -->
    <script>
        // Helper function to delay opening a URL until a gtag event is sent.
        // Call it in response to an action that should navigate to a URL.
        function gtagSendEvent(url) {
        var callback = function () {
            if (typeof url === 'string') {
            window.location = url;
            }
        };
        gtag('event', 'ads_conversion___2', {
            'event_callback': callback,
            'event_timeout': 2000,
            // <event_parameters>
        });
        return false;
        }
    </script>
  
</body>

</html>