@import "./pages/_importpages";
@import "./layout/_import";
@import "./z-index-properties/_import_z_index";
@import "./colors/_importcolorbackgound";
@import "./fonts/_importfonts";
@import "./helpers/_helpers";
@import "./components/_components";
@import "./positions/_positions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  outline: none;
}

html {
  padding: 0;
  margin: 0;

  body {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    color: var(--text-white);
  }
}

// HEADER-CONTENT-FOOTER POSITIONS 

body {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0 auto;
  background: var(--background-white);
  overflow-x: hidden;
}

.header {
  grid-area: header;
}

.main {
  grid-area: content;
  background: var(--background-white);
}

.footer {
  grid-area: footer;
}

// HEADER-CONTENT-FOOTER POSITIONS END

// ScroolBar

::-webkit-scrollbar {
  width: 0;
  height: 0;
  overflow-x: none;
  z-index: -1;
  display: none;
  visibility: hidden;
  opacity: 0;
}

// ScroolBar END