{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
<title>Project Detail - CyberCode</title>
{% endblock %}

{% block content %}
<main class="main">
    <section class="projects-section">
        <div class="projects-container">
            <article class="projects-article">
                <h1 class="projects-article-title fade fadeInDown">{{ object.title }}</h1>
            </article>
        </div>
    </section>
    <section class="project-go-back-section">
        <div class="project-go-back-container">
            <a href="{% url 'main:projects' %}">
                <svg aria-hidden="true" focusable="false" viewBox="0 0 64 64" width="64" height="64" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="32" cy="32" r="30.5" stroke="#0E1724" stroke-width="3"></circle> <path d="M29.333 41.333L20 32m0 0l9.333-9.333M20 32h24" stroke="#000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </a>
        </div>
    </section>
    <section class="project-detail-section">
        <div class="project-detail-container">
            <section class="project-detail-content">
                <div class="project-detail-category-container fade fadeInDown">
                    <button class="project-detail-category"><i class="fa-solid fa-star-half-stroke"></i> {{ object.category }}</button>
                </div>
                <div class="project-detail-description-container fade fadeInUp">
                    <p class="project-detail-description">
                        {{ object.description|safe }}
                    </p>
                </div>

                <div class="project-detail-image-container fade fadeInUp">
                    <img src="{{ object.image.url }}" alt="">
                </div>
            </section>

            <!-- 
                <article class="project-detail-article">
                    <h1 class="project-detail-title">{{ object.title }}</h1>
                    <div class="project-detail-creaters">
                        <a href="{% url 'main:projects' %}" class="project-detail-category"><i class="fa-solid fa-circle-left"></i> Go back</a>
                        <button class="project-detail-category"><i class="fa-solid fa-star-half-stroke"></i> {{ object.category }}</button>
                        <a href="{{ object.link }}" class="project-detail-category"><i class="fa-solid fa-link"></i> Link</a>
                        <div class="project-detail-devs">
                            {% for user in object.users.all %}
                                <img src="{{ user.user_image.url }}" alt="">
                            {% endfor %}
                            {% if not object.users.count >= 3 %}
                                <img src="{% static 'main/images/profile/profile.svg' %}" alt="">
                            {% endif %}
                        </div>
                    </div>
                </article>
             -->
        </div>
    </section>
</main>
{% endblock %}

{% block js_block %}

{% endblock %}