{% extends 'layout/base.html' %}
{% load static i18n %}

{% block title %}
Разработка сайтов и услуги в Ташкенте devcybercode
{% endblock %}

{% block content %}
<main class="main index-main">
    {% include 'layout/contact_form.html' %}
    <!-- START GRADIENT CONTENT -->
    <section class="gradient-container" id="gradient-container">
        <div class="gradient-artice-main">
            <h1 class="gradient-title fade fadeInDown">{% translate 'Website development in Tashkent' %}</h1>
            <div class="gradient-artice-btn-container fade fadeInUp">
                <a href="{% url 'main:projects' %}">
                    <button class="gradient-artice-btn-no-border">{% translate 'Our Projects' %}</button>
                </a>
                <a href="{% url 'main:pricing' %}">
                    <button class="gradient-artice-btn">{% translate 'Get started' %} </button>
                </a>
            </div>
            <article class="gradient-website-information fade fadeInDown">
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">{% translate 'Location' %}</p>
                        <h3 class="gradient-website-information-text">{% translate 'Tashkent' %}</h3>
                    </div>
                </div>
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">{% translate 'Phone' %}</p>
                        <a href="tel:+998331701706" class="gradient-website-information-text">+998 33 170 17 06</a>
                    </div>
                </div>
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">{% translate 'Activity' %}</p>
                        <h3 class="gradient-website-information-text">24 / 7</h3>
                    </div>
                </div>
                <div class="gradient-website-information-column">
                    <div class="gradient-website-information-icon-container">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="gradient-website-information-text-container">
                        <p class="gradient-website-information-type">{% translate 'Clients' %}</p>
                        <h3 class="gradient-website-information-text">50+</h3>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- END GRADIENT CONTENT -->

    <!-- START TASKS CONTENT -->
    <section class="tasks">
        <div class="task-image-column fade slideInLeft">
            <video autoplay="" muted="" loop="" playsinline="" aria-label="Разработка сайтов в Ташкенте">
                <source src="{% static 'main/images/main-page/tasks.mp4' %}">
            </video>
        </div>
        <div class="task-content-column fade slideInRight">
            <h2 class="task-title">
                {% translate 'Professional Website Development in Tashkent – Fast and Affordable' %}
            </h2>
            <p class="task-text">
                Мы предлагаем профессиональные услуги по <strong class="important-word">разработке сайтов</strong> и <strong class="important-word">продвижению сайтов</strong> в Ташкенте. Наши эксперты помогут вам создать эффективный веб-ресурс, который привлечет клиентов и увеличит ваши продажи.
                {% translate 'Discover the exact cost of a complete website development solution tailored for your business needs.' %}  
                <strong class="important-word">{% translate 'Enjoy one year of free technical support with every project!' %}</strong>
            </p>
            <button class="task-button" id="contact-form-included-toggle-index">
                {% translate 'Get Your Free Quote' %}
            </button>
        </div>
    </section>
    <!-- END TASKS CONTENT -->

    <!-- START Why Us Section -->
    <section class="whyus-section">
        <div class="whyus-container">
            <div class="whyus-column fade fadeInDown">
                <div class="whyus-icon-container services-icon">
                    <i class="fas fa-project-diagram"></i>
                </div>
                <div class="whyus-text-container">
                    <p class="whyus-text">
                        {% translate 'With' %} <span class="important-word">{% translate '4 years of successful experience' %}</span> {% translate 'in the market, we have completed and delivered over' %} <span class="important-word">{% translate '50 successful projects' %}</span>{% translate '.' %}
                    </p>
                </div>
            </div>
            <div class="whyus-column fade fadeInDown">
                <div class="whyus-icon-container services-icon">
                    <i class="fas fa-headset"></i>
                </div>
                <div class="whyus-text-container">
                    <p class="whyus-text">
                        {% translate 'After completing a project, we don’t leave our clients. We provide' %} <span class="important-word">{% translate 'one year of free technical support' %}</span> {% translate 'and' %} <span class="important-word">{% translate 'security' %}</span>{% translate ', to ensure your website runs smoothly.' %}
                    </p>
                </div>
            </div>
            <div class="whyus-column fade fadeInDown">
                <div class="whyus-icon-container services-icon">
                    <i class="fas fa-calendar-day"></i>
                </div>
                <div class="whyus-text-container">
                    <p class="whyus-text">
                        {% translate 'We work every day, without weekends. You can reach out to us at any time that suits you! We are always' %} <span class="important-word">{% translate 'happy to assist' %}</span> {% translate 'you with your needs.' %}
                    </p>
                </div>
            </div>
            <div class="whyus-column fade fadeInDown">
                <div class="whyus-icon-container services-icon">
                    <i class="fas fa-user-tie"></i>
                </div>
                <div class="whyus-text-container">
                    <p class="whyus-text">
                        {% translate 'Direct' %} <span class="important-word">{% translate 'contact with management' %}</span> {% translate 'at every stage of the project ensures smooth communication and efficient results.' %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END Why Us Section -->

    <!-- START PACKAGE -->
    <section class="package" id="packageSection">
        <h3 class="package-title fade fadeInDown">{% translate 'Your Suitable package' %} <br> {% translate 'for your needs' %}</h3>
        <p class="package-info fade fadeInDown">{% translate 'Our powerful plan gives you access to core Cyber Code features.' %}</p>
        <div class="package-choices-container">
            {% for object in pricing %}
            <div class="choices-column fade fadeInDown">
                <div class="price-column">
                    <h4 class="choice-type">{{ object.type }}</h4>
                    <span class="price">${{ object.price }}</span>
                    <span class="date">/ {% translate 'from' %}</span>
                    {% if object.recommended %}
                    <div class="recommended">
                        <h5>{% translate 'Recommended' %}</h5>
                    </div>
                    {% endif %}
                </div>
                <div class="abilities">
                    {% load my_tags %}
                    {{ object.advantages|first_n_advantages:"4,31"|safe }} 
                    <a href="{% url 'main:pricingdetail' slug=object.slug %}">
                        <button class="abilities-btn">{% translate 'more details' %}</button>
                    </a>
                </div>
            </div>
            {% empty %}
            <article class="partners-empty-container fade fadeInUp">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                </div>
                <h4 class="partners-empty-title">{% translate 'No matching results' %}</h4>
                <p class="partners-empty-text">{% translate 'There are no any pricings yet' %}</p>
                <a href="{% url 'main:pricinglist' %}" class="partners-empty-clear">{% translate 'Go to pricing' %} <i class="fa-solid fa-rotate"></i></a>
            </article>
            {% endfor %}
        </div>
    </section>
    <!-- END PACKAGE -->

    <!-- START DECIDE SECTION -->
    <section class="decide-section">
        <div class="decide-container">
            <h3 class="decide-title fade fadeInDown">
                {% translate 'Not sure which website solution is right for you ?' %}
            </h3>
            <p class="decide-text fade fadeInDown">
                {% translate 'It is not always easy to determine the exact website you need for your project. If you are having trouble choosing, leave your email, and one of our specialists will contact you within 15 minutes for a personalized consultation:' %}
            </p>
            <form action="" class="decide-form" method="post">
                {% csrf_token %}
                <div class="decide-column fade fadeInDown">
                    <input type="text" name="fullname" class="decide-input profile-edit-input" required placeholder="{% translate 'Name' %}">
                </div>
                <div class="decide-column fade fadeInDown">
                    <input type="email" name="email" class="decide-input profile-edit-input" required placeholder="{% translate 'Email' %}">
                </div>
                <button type="submit" class="decide-submit-btn fade fadeInDown">
                    {% translate 'Send' %}
                </button>
            </form>
        </div>
    </section>
    
    <!-- END DECIDE SECTION -->

    <!-- START Why us second section -->
    <section class="whyus-section whyus-second-section">
        <div class="whyus-wrapper">
            <h2 class="whyus-title fade fadeInDown">
                {% translate 'Why is it better to order website development from us?' %}
            </h2>
            <div class="whyus-container">
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-pencil-ruler"></i> <!-- Icon for No Templates -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'We develop websites from scratch, without using ready-made templates or copying competitors sites. One design — one website.' %}
                        </p>
                    </div>
                </div>
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-search"></i> <!-- Icon for SEO Optimization -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'Websites developed by our team feature clean and quality code, making them easy to optimize for SEO.' %}
                        </p>
                    </div>
                </div>
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-mobile-alt"></i> <!-- Icon for Responsive Design -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'The websites we create are always responsive and have versions for all devices, from mobile phones to tablets. There is no extra charge for this.' %}
                        </p>
                    </div>
                </div>
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-life-ring"></i> <!-- Icon for Technical Support -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'Once the project is completed, we do not leave you on your own. After delivering your site, we provide full technical support and security for a year at no extra cost.' %}
                        </p>
                    </div>
                </div>
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-file-signature"></i> <!-- Icon for Contract-Based Work -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'All work is done under a contract. If we fail to meet our deadlines, we will refund your money. You can rest easy.' %}
                        </p>
                    </div>
                </div>
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-credit-card"></i> <!-- Icon for Staged Payments -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'We offer payment for development in stages. Typically, 50 percent upfront and 50 percent upon project completion.' %}
                        </p>
                    </div>
                </div>
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-clock"></i> <!-- Icon for 24/7 Support -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'We work every day, without breaks. You can reach out to us anytime that suits you! We are always here to help!' %}
                        </p>
                    </div>
                </div>
                <div class="whyus-column fade fadeInDown">
                    <div class="whyus-icon-container services-icon">
                        <i class="fas fa-trophy"></i> <!-- Icon for Operating Since 2020 -->
                    </div>
                    <div class="whyus-text-container">
                        <p class="whyus-text">
                            {% translate 'With 4 years of successful experience in the market, we have developed and launched over 50 successful projects.' %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Why us second section -->

    <!-- START USED BY SECTION -->

    <section class="partners-section">
        <div class="partners-container">
            <h3 class="partners-title fade fadeInDown">
                {% translate 'Our Partners' %}
            </h3>
            {% if partners %}
            <article class="partners-info-container">
                <div class="owl-carousel carousel-slide-container fade fadeInDown"> 
                    {% for object in partners %}
                    <div class="partners-column fade fadeInDown">
                        <img src="{{ object.logo.url }}" alt="{{ object.logo }}">
                        <h4 class="partners-info-title">{{ object.title }}</h4>
                    </div>
                    {% endfor %}
                </div>
            </article>
            {% else %}
            <article class="partners-empty-container fade fadeInDown">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="">
                </div>
                <h4 class="partners-empty-title">{% translate 'No matching results' %}</h4>
                <p class="partners-empty-text">{% translate 'There is no any partners yet' %}</p>
            </article>
            {% endif %}
        </div>
    </section>

    <!-- END USED BY SECTION -->

    <!-- START FAQ QUESTIONS SECTION -->
    <section class="faq-section">
        <h3 class="faq-main-title fade fadeInDown">{% translate 'Frequently Asked Questions' %}</h3>
        <div class="faq-container">
            {% for object in faqs %}
            <div class="faq fade fadeInDown {% if forloop.counter == 1 or forloop.counter == 3 %} active{% endif %}">
                <div class="faq-btn-container">
                    <button class="faq-card-title">
                        <i class="fa-solid fa-plus faq-icon"></i>
                        <p class="faq-card-title-text">{% translate object.question %}</p>
                    </button>
                </div>
                <div class="faq-text">
                    {{ object.answer|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- END FAQ QUESTIONS SECTION -->

    <!-- START CAROUSEL SECTION -->
    <section class="carousel-section">
        <div class="carousel-container">
            <div class="carousel-title-container fade fadeInDown">
                <h4 class="carousel-title">
                    {% translate 'Ideas to help you navigate work' %}
                </h4>
                <p class="carousel-text">
                    {% translate 'We regularly share resources on startups, productivity, and the future of work' %}
                </p>
                <div class="carousel-link-container">
                    <a href="{% url 'main:blog' %}" class="carousel-link">{% translate 'See more articeles' %}</a>
                </div>
            </div>
            {% if posts %}
            <div class="carousel__wrapper">
                <div class="owl-carousel carousel-slide-container fade fadeInDown"> 
                    {% for object in posts %}
                    {% if object.is_private == 0 or request.user.is_staff %}
                    <div class="carousel-slide">
                        <div class="carousel-image-container">
                            <a href="{% url 'main:blogdetail' slug=object.slug %}">
                                <img src="{{ object.image.url }}" alt="{{ object.image }}">
                            </a>
                        </div>
                        <div class="carousel-text-container">
                            <a href="{% url 'main:blogdetail' slug=object.slug %}">
                                <h4 class="carousel-slide-title">{{ object.title }}</h4>
                            </a>
                            <p class="carousel-slide-text">
                                {{ object.short_description|truncatechars:75|safe }}
                                {% if object.is_private %}
                                <p class="carousel-private-status">{% translate 'Private post' %}</p>
                                {% endif %}
                                <p class="post-social-views carousel">
                                    <i class="fa-solid fa-eye post-social-views-icon"></i> 
                                    <span class="post-social-views-text">{{ object.view_count }}</span>
                                </p>
                            </p>
                        </div>
                        <div class="carousel-date-container">
                            <p class="carousel-date-posted">{% translate 'Posted by' %} {{ object.user }}</p>
                            <span class="carousel-date">{{ object.posted_on|date:"F d, Y" }}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <article class="partners-empty-container">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="{% translate 'error' %}">
                </div>
                <h4 class="partners-empty-title">{% translate 'No matching results' %}</h4>
                <p class="partners-empty-text">{% translate 'There are no any posts yet' %}</p>
                <a href="{% url 'main:blog' %}" class="partners-empty-clear">{% translate 'Go to blog' %} <i class="fa-solid fa-rotate"></i></a>
            </article>
            {% endif %}
        </div>
    </section>

    <!-- END CAROUSEL SECTION -->

    <!-- START FEEDBACK SECTION -->

    <section class="feedback-list-section">
        <div class="feedback-list-container">
            <div class="feedback-list-text-column fade slideInLeft">
                <h5 class="feedback-list-text-column-title">{% translate 'Feedbacks from our clients' %}</h5>
                <p class="feedback-list-text-column-text">
                    {% translate 'Join the thousands of other people just like you who started using CyberCode and took back control of their day' %}
                </p>
            </div>
            {% if feedbacks %}
            <div class="feedback-container owl-carousel fade slideInRight">
                {% for object in feedbacks %}
                <div class="feedback-slide" data-created-at="{{ object.created_at|date:'F d, Y' }}">
                    <div class="feedback-content">
                        <p class="feedback-content-text" data-text="{{ object.text }}">
                            {{ object.text|slice:"250"|safe }}{% if object.text|length > 250 %}...{% endif %}
                        </p>
                    </div>
                    <div class="feedback-user">
                        <div class="feedback-user-container" data-image="{{ object.user.user_image.url }}">
                            <img src="{{ object.user.user_image.url }}" alt="{{ object.user}}">
                        </div>
                        <h4 class="feedback-username">
                            {{ object.user.first_name|default:object.user }}
                        </h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <article class="partners-empty-container fade slideInRight">
                <div class="partners-empty-icon-container">
                    <img src="{% static 'main/images/errors/error.svg' %}" alt="{% translate 'error' %}">
                </div>
                <h4 class="partners-empty-title purple">{% translate 'No matching results' %}</h4>
                <p class="partners-empty-text white">{% translate 'There are no any feedbacks yet' %}</p>
            </article>
            {% endif %}

            <article id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-close-container">
                        <p id="modalCreatedAt" class="modalCreatedAt"></p>
                        <span class="closeModal" id="closeModal"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                    <div class="modal-content-container">
                        <p id="modalContent" class="modalContent"></p>
                        <div class="modal-user-container">
                            <img id="modalUserImage" class="modalUserImage" src="" alt="Аватарка пользователя">
                            <p id="modalUser" class="modalUser"></p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

    <!-- END FEEDBACK SECTION -->
</main>
{% endblock %}

{% block js_block %}
<script src="{% static 'main/scripts/js/feedback.js' %}"></script>
<script src="{% static 'main/scripts/js/faq.js' %}"></script>
<script src="{% static 'main/scripts/js/carousel.js' %}"></script>
{% endblock %}
