{% load static i18n %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <meta name="author" content="devcybercode">
    <meta property="og:site_name" content="Разработка сайтов — devcybercode">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="ru_RU">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    
    <meta name="description" content="{% block meta_description %}Разработка и создание сайтов в Ташкенте и по всему Узбекистану | Закажите сейчас у компании devcybercode{% endblock %}">
    <meta name="og:description" content="{% block og_description %}Разработка сайтов в Ташкенте. Индивидуальные решения для вашего бизнеса от devcybercode{% endblock %}">
    
    <meta name="keywords" content="{% block keywords %}разработка сайтов, создание сайтов в ташкенте, сайт под ключ{% endblock %}">
    
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/scripts/js/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/styles/scss/global.css' %}">
    <link rel="icon" href="{% static 'main/images/layout/websiteicon.png' %}" type="image/png"/>
    <link rel="shortcut icon" href="{% static 'main/images/layout/websiteicon.svg' %}" type="image/svg+xml"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">

    <script src="{% static 'main/scripts/js/notranslate.js' %}"></script>
    <title>{% translate 'Payment List - Cyber Code' %}</title>
</head> 


<body class="payment-list-body">
    <main class="main payment-main">
        <!-- START SECTION PAYMENT LIST -->
        <section class="payment-section">
            <div class="payment-container">
                <article class="payment-info-container">
                    <div class="payment-info-title-container fade fadeInDown">
                        <h1 class="payment-info-title">
                            {% translate 'Order cart' %}
                        </h1>
                        <p class="payment-info-count">
                            {{ cart_items|length }}
                            {% if cart_items|length > 1 %}
                            {% translate 'items' %}
                            {% else %}
                            {% translate 'item' %}
                            {% endif %}
                        </p>
                    </div>
                    <div class="payment-products-container">
                        {% if cart_items %}
                        <div class="payment-product-detail-container">
                            <p class="payment-detail fade fadeInDown">
                                {% translate 'product Details' %}
                            </p>
                            <p class="payment-detail fade fadeInDown">
                                {% translate 'Price' %}
                            </p>
                            <p class="payment-detail fade fadeInDown">
                                {% translate 'Total' %}
                            </p>
                        </div>
                        <div class="payment-product-wrapper-column">
                            {% for item in cart_items %}
                            <div class="payment-product-column fade fadeInUp">
                                <div class="payment-product-info-container">
                                    <div class="payment-image-container">
                                        <span class="payment-image-type">
                                            {{ item.type }}
                                        </span>
                                    </div>
                                    <div class="payment-type-container">
                                        <h1 class="payment-product-type">
                                            {{ item.type }}
                                        </h1>
                                        {% if item.product.recommended %}
                                        <h1 class="payment-product-category">
                                            {% translate 'Recommended' %}
                                        </h1>
                                        {% elif item.popular %}
                                        <h1 class="payment-product-category">
                                            {% translate 'Popular' %}
                                        </h1>
                                        {% else %}
                                        <h1 class="payment-product-category">{% translate 'None' %}
                                        </h1>
                                        {% endif %}
                                        <form class="remove-from-cart-form"
                                            action="{% url 'main:removefromcart' item.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="payment-product-remove">
                                                {% translate 'Remove' %}
                                            </button>
                                        </form>

                                        <!-- Other HTML content -->

                                    </div>
                                </div>
                                <div class="payment-price-container">
                                    <h1 class="payment-price">${{ item.price }}</h1>
                                </div>
                                <div class="payment-total-price-container">
                                    <p class="payment-total-price">${{ item.price }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="projects-empty fade fadeInUp">
                            <div class="projects-empty-icon-container">
                                <img src="{% static 'main/images/errors/noresult.svg' %}" alt="">
                            </div>
                            <h1 class="projects-empty-title">
                                {% translate 'No matching results' %}
                            </h1>
                            <p class="projects-empty-description">
                                {% translate 'You have not selected any items' %}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="payment-return-back-container fade fadeInUp">
                        <a href="{% url 'main:pricing' %}" class="payment-return-back-link">
                            <i class="fa-solid fa-arrow-left-long"></i>
                            {% translate 'Continue Ordering' %}
                        </a>
                    </div>
                </article>
                {% if cart_items %}
                {% load my_tags %}
                <article class="payment-sidebar-container fade slideInUp" id="paymentSidebar">
                    <div class="payment-sidebar-title-container">
                        <h1 class="payment-sidebar-title">
                            {% translate 'Order Summary' %}
                        </h1>
                    </div>
                    <div class="payment-sidebar-items-count-container">
                        <h1 class="payment-sidebar-items">
                            {{ cart_items|length }}
                            {% if cart_items|length > 1 %}
                            {% translate 'items' %}
                            {% else %}
                            {% translate 'item' %}
                            {% endif %}
                        </h1>
                        <p class="payment-sidebar-items-price">
                            ${{ request.session.cart|calculate_total_cost:request }}
                        </p>
                    </div>
                    <div class="payment-sidebar-total-cost-container">
                        <div class="payment-sidebar-total-cost-info-container">
                            <h1 class="payment-sidebar-total-cost-title">
                                {% translate 'Total Cost' %}
                            </h1>
                            <p class="payment-sidebar-total-cost">
                                ${{ request.session.cart|calculate_total_cost:request}}</p>
                        </div>
                        <div class="payment-sidebar-checkout-btn-container">
                            <button class="payment-sidebar-checkout-btn" id="applyNowBtn">
                                {% translate 'Checkout' %}
                            </button>
                        </div>
                    </div>
                </article>
                {% endif %}

                {% if cart_items %}
                <article id="applyModal" class="applyModal">
                    <div class="applyModalContent">
                        <div class="modal-close-container">
                            <p class="modalTitle">
                                {% translate 'Checkout' %}
                            </p>
                            <span class="closeModal" id="closeApplyModal">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </div>
                        <div class="modal-content-container">
                            <form id="jobApplyForm" class="jobApplyForm" method="POST" action="{% url 'main:payment' %}">
                                {% csrf_token %}
                                <div class="jobApply-group-double">
                                    <div class="jobApply-group payment-group">
                                        <label for="firstName">{% translate 'First Name' %}</label>
                                        <input type="text" name="first_name" id="first_name" required placeholder="{% translate 'Peter' %}"
                                            value="{% if form.first_name.value %}{{ form.first_name.value }}{% else %}{{ request.user.first_name|default:'' }}{% endif %}">
                                        {{ form.errors.first_name }}
                                    </div>
                                    <div class="jobApply-group payment-group">
                                        <label for="email">{% translate 'Email' %}</label>
                                        <input type="email" name="email" id="email" required placeholder="cybercodesp@gmail.com"
                                            value="{% if form.email.value %}{{ form.email.value }}{% else %}{{ request.user.email|default:'' }}{% endif %}">
                                        {{ form.errors.email }}
                                    </div>
                                </div>
                                <div class="jobApply-group-double">
                                    <div class="jobApply-group payment-group">
                                        <label for="firstName">{% translate 'City' %}</label>
                                        <input type="text" name="city" id="city" required placeholder="{% translate 'New York' %}"
                                            value="{% if form.city.value %}{{ form.city.value }}{% endif %}">
                                        {{ form.errors.city }}
                                    </div>
                                    <div class="jobApply-group payment-group">
                                        <label for="address">{% translate 'Address' %}</label>
                                        <input type="text" name="address" id="address" required placeholder="{% translate 'New York 51 street' %}"
                                            value="{% if form.address.value %}{{ form.address.value }}{% else %}{{ request.user.location|default:'' }}{% endif %}">
                                        {{ form.errors.address }}
                                    </div>
                                </div>
                                <div class="jobApply-group payment-group">
                                    <label for="company">{% translate 'Company' %}</label>
                                    <input type="text" name="company" id="company" placeholder="Cyber Code"
                                           value="{% if form.company.value %}{{ form.company.value|default_if_none:'' }}{% endif %}">
                                    {{ form.errors.company }}
                                </div>
                                <button type="submit" class="apply-button">
                                    {% translate 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                </article>
                {% endif %}
            </div>
        </section>

        <!-- END SECTION PAYMENT LIST -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
                wow = new WOW({
                    boxClass: 'fade',
                    animateClass: 'animated',
                    offset: 0,
                    mobile: true,
                    live: true
                });
                wow.init();
            });
        </script>
        <script>
            let applyModal = document.getElementById("applyModal");
            let applyNowBtn = document.getElementById("applyNowBtn");
            let closeApplyModal = document.getElementById("closeApplyModal");
            let jobApplyForm = document.getElementById("jobApplyForm");
            let body = document.body

            function closeModal() {
                applyModal.style.transform = "scaleY(0)";
                body.style.overflowY = "auto";
            }

            applyNowBtn.addEventListener("click", function () {
                applyModal.style.transform = "scaleY(1)";
                body.style.overflowY = "hidden";
            });

            closeApplyModal.addEventListener("click", closeModal);

            window.addEventListener("click", function (event) {
                if (event.target == applyModal) { closeModal(); }
            });
            window.addEventListener("touchstart", function (event) {
                if (event.target == applyModal) { closeModal(); }
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </main>
</body>

</html>