.project-go-back-section {
    position: fixed;
    left: 1rem;
    z-index: var(--z-index-2);
    top: 27rem;
    transition: all 0.3s ease;

    svg {
        width: 3rem;
        height: 3rem;

        circle,
        path {
            transition: all 0.3s ease;
        }

        &:hover circle,
        &:hover path {
            stroke: var(--text-purple);
        }
    }

    &:hover svg {
        stroke: var(--text-purple);
    }
}

.project-detail-section {
    padding: 0 1rem 2rem 1rem;
}

.project-detail-category-container {
    display: grid;
    place-content: center;

    .project-detail-category {
        @extend .gray-button-purple-1rem-2rem;
    }
}

.project-detail-image-container {
    width: 100%;
    height: 100%;
    padding: 2rem 5rem 1rem 5rem;
    transition: all 0.2s ease;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 40rem;
        border-radius: 0.5rem;
        transition: all 0.2s ease
    }
}

.project-detail-description-container {
    margin-top: 2rem;
    transition: all 0.2s ease
}

.project-detail-posted-on {
    @extend .dark-blue-text-center-grotext-family-1-5rem;
    @extend .text-align-start;
    padding-left: 5rem;
    margin-top: 1rem;
    transition: all 0.2s ease
}

@media screen and (max-width: 800px) {
    .project-go-back-section {
        transform: translateX(-5rem);
    }
    .project-detail-image-container,
    .project-detail-description-container,
    .project-detail-posted-on {
        padding-inline: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .project-detail-image-container,
    .project-detail-description-container,
    .project-detail-posted-on {
        padding-inline: 0rem;
    }

    .project-detail-posted-on {
        font-size: 1.25rem !important;
        margin-top: 3rem;
    }
}