.project-go-back-section {
    position: fixed;
    left: 1rem;
    z-index: var(--z-index-2);
    top: 27rem;
    padding-left: calc(50% - 50rem);

    svg {
        width: 3rem;
        height: 3rem;

        circle,
        path {
            transition: all 0.3s ease;
        }

        &:hover circle,
        &:hover path {
            stroke: var(--text-purple);
        }
    }

    &:hover svg {
        stroke: var(--text-purple);
    }
}

.project-detail-section {
    padding: 0 0rem 2rem 1rem;
}

.project-detail-category-container {
    display: grid;
    place-content: center;

    .project-detail-category {
        @extend .gray-button-purple-1rem-2rem;
    }
}

.project-detail-image-container {
    width: calc(100% - 5rem);
    height: 100%;
    padding: 2rem 0rem 1rem 5rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-height: 50rem;
        border-radius: 0.5rem;
    }
}